.box {
    width: 400px;
    height: 350px;
    overflow: scroll;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    box-sizing: border-box;
}

button {
    width: 100px;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

input {
	width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}

    